# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Random residue
.DS_Store
TheTwitchNetwork/DatasetProcessing/env
TheTwitchNetwork/DatasetProcessing/.ipynb_checkpoints
.env
TheTwitchNetwork/bin/output
TheTwitchNetwork/bin/test
